<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

<div class="flex" id="top-bar-div">
    <div class="flex-1">
        <h1 class="app-title">
            <i class="fa-solid fa-money-bill"></i>
            Stocks
        </h1>
    </div>
    
    <div class="flex-1">
        Login
    </div>
</div>

@RenderBody()

</body>
</html>