@{
    if (ViewBag.productID is not null)
    {
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    }
    ViewData["Title"] = "Search";
}

<h1>Products</h1>
<h2>Welcome to Products Search Page</h2>